[user]
  name = Aref Takiden
  email = takiden.a@gmail.com
[core]
	editor = nvim
[init]
  defaultBranch = main
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[branch]
  sort = -committerdate
[checkout]
	defaultRemote = origin
[fetch]
  prune = true
[rerere]
  enabled = true
[merge]
  conflictStyle = zdiff3
[delta]
    features = rose-pine
